@media all and (max-width:860px){
    body{
        font-family: 'Noto Sans KR', sans-serif;
        /* font-family: 'Roboto', sans-serif;  */
    }
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Noto Sans KR', sans-serif; */
    /* 공통영역 */
    .pc_search{
        display:none;
    }
    .wrap{
        border:1px solid rgba(0,0,0,0.1);
    }
    section{
        overflow: hidden;
        border-top: 1px solid #c9c9c9;
        border-bottom: 1px solid #c9c9c9;
    }
    .container{
        width:95.35%;
        margin:0 2.325% 80px 2.325%;
        /* background-color:gray; */
        position: relative;
    }
    .s4_more_btn{
       width:100%;
       height:auto;
       font-size:0.9rem;
       position: absolute;
       text-align: center;
       bottom:0px;  
       
    }
    .items_wrap > .items{
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    }
    .common_title{
        position: relative;
        margin-bottom:60px;
    }
    .common_title .hash{
        position: absolute;
        top:-6px;
        display: flex;
        font-size:0.7rem;
        color:#949494;
    }
    .common_title h2{
        margin-top:6px;
        font-size:2rem;
    }
    /* header */
    header{
        width:100%;
        height:50px;
        background-color:#eabacf;
        position: fixed;
        top:0;
        z-index:999;
    }
    header .container{
        height:100%;
    }
    .header_wrap{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height:50px;
    }
    .header_wrap .logo{
        width:150px;
        height:auto;
    }
    .header_wrap .hamberger{
        width:25px;
        height:auto;
        display: none;
    }

    /* s1 */

    .s1{
        margin-top:50px;
        width:100%;
        height:auto;
        border-top:0;
        border-bottom:0;
    }
    .s1 .container{
        margin-top:80px;
        width:100%;
        margin:0;
        height:auto;
        position: relative;
        top:0;
        display: flex;
    }
    .s1_bg{
        width:100%;
        position: relative;;
        top:0;
        left:0;
    }
    .s1_bg:last-child{
        margin-right:0;
    }

    /* s4 */
    .s4{
        width:100%;
        height:auto;
        padding-top:40px;
        margin-top:20px;
        background-color:#fff6f6;
    }
    .s4 .container{
        height:auto;
        margin-bottom:30px;
    }
    .s4_title{
        margin-bottom:20px;
    }
    .s4_title h2{
        font-size:2rem;
    }
    .s4_menu_wrap{
        width:100%;
        height:auto;
        display:flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        position: relative;
    }
    .s4_menu_wrap .menu_inner{
        padding:0px 3%;
        margin:0 auto;
        width:120px;
        border-radius:120px;
        display:flex;
        justify-content: space-between;
        align-content:center;
        background-color: white;
        position: relative;
        z-index:100;
    }
    .s4_menu_wrap .menu_inner h4{
        line-height:50px;
        color:#949494;
    }
    .s4_menu_wrap .menu_inner img{
        width:50px;
        height:50px;
    }
    .menu_inner_list{
        position: absolute;
        display: none;
        top:0px;
        left:0;
        padding:40% 0% 10% 10%;
        width:135px;
        height:auto;
        background-color: white;
        border-radius:30px;
        z-index:-1;
        font-weight: 600;
        color:#c9c9c9;
    }
    .menu_showing{
        display: block;
    }
    .s4_menu_wrap .s4_color{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        margin:40px auto 40px auto;
        height:30px;
    }
    .s4_menu_wrap .list{
        text-align: center;
        line-height:30px;
        width:30px;
        height:30px; 
        border-radius:20px; 
        margin-right:2%;
        font-size:0.9rem;
        font-weight:900;
    }
    
    .s4_color .list:nth-child(2){background-color:#ff0000;}
    .s4_color .list:nth-child(3){background-color:#ffbced;}
    .s4_color .list:nth-child(4){background-color:#dc89ff;}
    .s4_color .list:nth-child(5){background-color:#75e0ff;}
    .s4_color .list:nth-child(6){background-color:#32d660;}
    .s4_color .list:nth-child(7){background-color:#fadf2b;}
    .s4_color .list:nth-child(8){background-color:white;margin-right:0;}
    
    .s4_items_wrap{
        width:100%;
        height:auto;
        padding-bottom:50px;
        grid-gap:15px;
        display:none;
        grid-template-columns:repeat(2,1fr);
        position: absolute;
        top:0;
        z-index:-999;
        
    }
    .s4_items:nth-child(n+5){
        display:none;
    }
    .btn_showing:nth-child(n+5){
        display: block;
    }
    .s4_items{
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);    
    }
    .color_showing{
        display:grid;
        position: relative;
        z-index:1;
    }
    .border_showing{
        transform: scale(1.1);
        border:2px solid #c9c9c9;
        color:#c9c9c9;
    }
    
    .s4_items_wrap .s4_items .inner{
        margin-top:-4px;
        padding:10px;
        background-color: white;
    }
    .s4_items_wrap .s4_items .inner h3{
        font-size:1rem;
    }
    .s4_items_wrap .s4_items .inner > p{
        font-size:0.7rem;
        color:#c9c9c9;
        /* margin:5px 0; */
    }
    .s4_items_wrap .s4_items .inner .star_wrap{
        display:flex;
        align-items:center;
    }
    .star{
        display:flex;
        margin-right:10px;
    }
    .star img{
        width:12px;
        height:12px;
    }
    .s4_items .inner .star_wrap .point{
        font-size:0.9rem;
        color:#c9c9c9;
    }
    .s4_items .inner .review{
        display:flex;
        align-items: flex-end;
        justify-content: space-between;   
    }
    .s4_items .inner .review h3{
        font-size:1.2rem;
    }
    .s4_items .inner .review p{
        font-size:0.9rem;
        color:#c9c9c9;
    }
    
    /* s3 */
    .s3{
        margin-top:20px;
        padding-top:60px;
        width:100%;
        height:auto;
    }
    .s3 .container{
        position: relative;
        height:100%;
    }
    .s3 .menu_wrap{
        display: flex;
        width:100%;
        justify-content: space-between;
        height:auto;
    }
    .s3 .menu_wrap > li{
        width:19.767%;
        margin-right:20px;
    }
    .s3 .menu_wrap > li h3{
        font-size:0.8rem;
        font-weight:600;
        text-align: center;
        
        margin:30px 0 4vh 0;
    }
    .birthday_color{
        color:#ff6a6a;
    }
    .propose_color{
        color:#f3befb;
    }
    .graduation_color{
        color:#feb598;
    }
    .marry_color{
        color:#f2b3e1;
    }
    .parents_color{
        color:#46c9ff;
    }
    .s3_items_container{
        position: relative;
        height:auto;
    }
    .s3_items_wrap{
        width:100%;
        height:auto;
        display: none;
        flex-wrap: wrap;
        margin-top:30;
        position: absolute;
        opacity: 0;
    }
    .s3_items_wrap .items {
        width:48.561%;
        height:100%;
        margin-right:2.439%;
        margin-bottom:20px;
        background-color:#fff6f6;
    }
    .s3_items_wrap .items:nth-child(2n){
        margin-right:0;
    }
    .s3_items_wrap .items .pic{
        width:100%;
    }
    .s3_items_wrap .items .inner{
        width:94%;
        padding:3%;
    }
    .s3_items_wrap .items .inner h3{
        font-size:1.2rem;
    }
    .s3_items_wrap .items .inner p{
        font-size:0.7rem;
        color:#c9c9c9;

    }
    .s3_items_wrap .items .inner .star{
        align-items: center;
    }
    .s3_items_wrap .items .inner .star p{
        margin-left:10px;
    }
    .s3_items_wrap .items .inner .price{
        text-align: left;
    }
    .showing{
        position: relative;
        opacity:1;
        display: flex;
    }
    /* s2 ,s5 */

    .s2,.s5{
        width:100%;
        height:auto;
        margin-top:20px;
        padding-top:60px;
    }
    .s2 .container ,.s5 .container{
        width:200%;
        height:auto;
    }
    .s2 > .container > .s2_items_wrap,
    .s5 > .container > .s5_items_wrap{
        overflow:visible;
    }
    .s2 > .container >.s2_items_wrap > .slide_wrap,
    .s5 > .container >.s5_items_wrap > .slide_wrap{
        display:flex;
        justify-content: space-between;
        width:100%;
        height:auto;
    }   
    .s2_items_wrap .slide_wrap li,
    .s5_items_wrap .slide_wrap li{
        flex:1;
        margin-right:1%;
        position: relative;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    }
    .s2_items_wrap .slide_wrap li:last-child,
    .s5_items_wrap .slide_wrap li:last-child{
        margin-right:0;
    }
    .s2_items_wrap .slide_wrap li:after{
        content: '1';
        position: absolute;
        font-size:4rem;
        color:#fdc6c6;
        top:-50px;
        left:0;
        font-weight: 900;
    }
    .s2_items_wrap .slide_wrap li:nth-child(2):after{content: '2';}
    .s2_items_wrap .slide_wrap li:nth-child(3):after{content: '3';}
    .s2_items_wrap .slide_wrap li:nth-child(4):after{content: '4';}
    .s2_items_wrap .slide_wrap li:nth-child(5):after{content: '5';}
    .s2_items_wrap .slide_wrap li:nth-child(6):after{content: '6';}
    
    .s2_items_wrap .slide_wrap .items,
    .s5_items_wrap .slide_wrap .items {
        width:32.195%;
        height:auto;
        background-color:#fff6f6;
    }
    .s2_items_wrap .items .pic,
    .s5_items_wrap .items .pic{
        width:100%;
        height:auto;
    }
    .s2_items_wrap .slide_wrap .items .inner,
    .s5_items_wrap .slide_wrap .items .inner{
        width:94%;
        padding:3%;
    }
    .s2_items_wrap .slide_wrap .items .inner h3,
    .s5_items_wrap .slide_wrap .items .inner h3{
        font-size:1rem;
    }

    .s2_items_wrap .slide_wrap .items .inner .review > h3,
    .s5_items_wrap .slide_wrap .items .inner .review > h3{
        font-size:1.2rem;
        text-align:right;
        position: relative;
    }
    .s2_items_wrap .slide_wrap .items .inner .review span,
    .s5_items_wrap .slide_wrap .items .inner .review span{
        text-decoration: line-through;
        color:#c9c9c9;
        font-size:0.7rem;
        position: absolute;
        top:5px;
        left:0;
    }
    .s2_items_wrap.slide_wrap  .items .inner > h3,
    .s5_items_wrap.slide_wrap  .items .inner > h3{
        font-size:1rem;
    }
    
    .s2_items_wrap .slide_wrap .items .inner p,
    .s5_items_wrap .slide_wrap .items .inner p{
        font-size:0.7rem;
        color:#c9c9c9;

    }
    .s2_items_wrap .slide_wrap .items .inner .star,
    .s5_items_wrap .slide_wrap .items .inner .star{
        align-items: center;
    }
    .s2_items_wrap .slide_wrap .items .inner .star p,
    .s5_items_wrap .slide_wrap .items .inner .star p{
        margin-left:10px;
    }
    .s2_items_wrap .slide_wrap .items .inner .price,
    .s5_items_wrap .slide_wrap .items .inner .price{
        text-align: left;
    }

    
    /* s6 */
    .s6{
        width:100%;
        height:auto;
        margin-top:20px;
        padding-top:60px;
    }
    .s6 .more_btn{
        width:100px;
        position: absolute;
        top:20px;
        right:0;
    }
    .s6_items_wrap{
        width:100%;
        height:auto;
        position: relative;
    }
    .s6_items_wrap .items{
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    }
    .s6_items_wrap .items .salemark{
        position: absolute;
        padding:4.878% 8.205%;
        top:0;
        background-color: red;
    }
    .s6_items_wrap .items .salemark h3{
        font-size:1.2rem;
        color:white;
    }
    .s6_items_wrap .items .inner{
        margin-top:-0.41%;
        padding:0 1.219%;
    }
    .s6_items_wrap .items .inner h3{
        margin-bottom:1.025%
    }
    .s6_items_wrap .items .inner .price{
        color:#c9c9c9;
        text-decoration: line-through;
    }
    .s6_items_wrap .items .inner .saleprice{
        margin-left:1.219%;
        color:red;
        font-size:1.2rem;
    }
    .timer_wrap{
        width:100%;
        display: flex;
        align-items: center;
    }
    .timer_wrap .timer{
        width:30px;
        height:30px;
        margin:0 10px;
    }
    .timer_wrap .timer_bar{
        width:93.414%;
        height:5px;
        background-color:#c9c9c9;
        position: relative;
    }
    .timer_wrap .timer_bar:after{
        content:'';
        width:46%;
        height:5px;
        background-color:#13b5b1;
        position: absolute;
        left:0;
        top:0;  
    }
    .s6_items_wrap .items .inner .date{
        display:flex;
        justify-content: space-between;
        color:#13b5b1;
        font-weight:600;
    }
    /* s7 */
    
    .s7{
        width:100%;
        height:auto;
        margin-top:20px;
        padding-top:60px;
    }
    .s7 .container{
        height:auto;
        margin-bottom:50px;
        
    }
    .reward_wrap{
        width:100%;
        height:auto;
    }
    .reward_wrap .gold,.reward_wrap .silver{
        display: flex;
        margin-bottom:15px;
    }
  

    .reward_wrap .reward .data{
        width:90%;
        position: relative;
        /* background-color: green; */
        padding:5% 5% 5% 5%;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
        
    }
   
 
    .reward_wrap .reward .data .profile{
        display: flex;
        align-items: center;
    }
    .reward_wrap .reward .data .profile .profile_pic{
        width:35px;
        height:35px;
        margin-right:5px;
    }
    .reward_wrap .reward .data .profile .profile_pic img{
        border-radius: 50px;
    }
    .reward_wrap .reward .data .profile .account{
        margin-right:5px;
        font-size:0.8rem;
    }
    
    .reward_wrap .reward .data .profile .profile_medal{
        width:15px;
        height:20px;
        margin-right:10px;
    }
    .reward_wrap .reward .data .profile .item_name a{
        color:#c9c9c9;
        font-size:0.7rem;
    }
    .reward_wrap .reward .data .comment p{
        font-size:0.8rem;
        text-overflow: ellipsis;
    }
    .reward_wrap .reward .data .img_list{
        display: flex;
        width:100%;
        height:100px;
        margin-top:20px;
    }
    .reward_wrap .reward .data .img_list li{
        width:125px;
        margin-right:15px;
    }
    .s7 .more_btn{
        margin-top:40px;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        
    }
    /* footer */
    footer{
        height:200px;
        background-color:#353535;
        width:95.35%;
        padding:40px 2.325%;
        padding:40px 2.325% 120px 2.325%;
    }
    footer .footer_img{
        width:150px;
    }
    footer .commpany{
        font-size:0.9rem;
        color:white;
        margin:20px 0;
    }
    footer .info{
        width:340px;
        font-size:0.8rem;
        color:white;
    }
    footer .conditions{
        margin-top:30px;
        display: flex;
    }
    footer .conditions li{
        margin-right:20px;
        position: relative;
    }
    footer .conditions li:first-child:After{
        content:'';
        width:1px;
        height:10px;
        position: absolute;
        top:8px;
        right:-10px;
        background-color: white;
    }
    footer .conditions li a{
        font-size:0.9rem;
        color:white;
    }
        
    /* footer bar */
    .ftbar{
        position: fixed;
        bottom:0;
        width:95.35%;
        padding:0 2.325%;
        height:60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:#eabacf;
        z-index:999;
    }
    .ftbar li{
        width:25%;
    }
    .ftbar li a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
    }
    .ftbar_img{
        width:25px;
        height:25px;
    }
    .ftbar_title{
        margin-top:3px;
        font-size:0.7rem;
    }
    






}